<p>Web Storage</p>
<div #Container id="Container" class="Container">
    <div id="MiniContainer" name="MiniContainer" class="MiniContainer">
        <form [formGroup]="myForm" id="myForm" name="myForm" method="GET" >
            <div>
                <div class="inputGroup">
                    Key:&nbsp;<input type="text" formControlName="Key" id="Key" name="Key" autocomplete="off" autofocus >
                </div>
                <div class="inputGroup">
                    Value:&nbsp;<textarea formControlName="Value" id="Value" name="Value" autocomplete="off"></textarea>
                </div>
                <div class="inputGroup">
                    <input type="submit" id="btn_Send" name="btn_Send" value="Submit" (click)="Submit()">
                </div>
                <div class="inputGroup">
                    <input type="submit" id="btn_ViewData" name="btn_ViewData" value="View Data" (click)="ViewData()">
                </div>
            </div>
        </form>
    </div>
</div>
