html{
    font-size: 62.5%;
    font: normal 2.4em 'Roboto', Verdana, Geneva, sans-serif;
}
/*ID*/
#main
{
    border: dashed gray 2px;
    padding: 1rem;
}

.inputGroup
{
    display: block;
    margin: 0.5rem;
}

