<div #Container id="Container" class="Container">
    <canvas id="CanvasBox1" name="CanvasBox1" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox2" name="CanvasBox2" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox3" name="CanvasBox3" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox4" name="CanvasBox4" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox5" name="CanvasBox5" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox6" name="CanvasBox6" class="CanvasBox">
    </canvas>
    
    <canvas id="CanvasBox7" name="CanvasBox7" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox8" name="CanvasBox8" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox9" name="CanvasBox9" class="CanvasBox">
    </canvas>
    
    <canvas id="CanvasBox10" name="CanvasBox10" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox11" name="CanvasBox11" class="CanvasBox">
    </canvas>

    <canvas id="CanvasBox12" name="CanvasBox12" class="CanvasBox" (mousemove)="SetCanvasBox12($event)">
    </canvas>

    <canvas id="CanvasBoxVideo" name="CanvasBoxVideo" class="CanvasBox">
        <video id="myVideo">
        </video>
    </canvas>
</div>
